.goto1 { grid-column: 3/5; grid-row: 2/3; }
.goto2 { grid-column:5/7; grid-row: 1/3;  }
.goto3 { grid-column: 1/5; grid-row: 1/1; }
.goto4 { grid-column: 1/3; grid-row: 2/4; }
.goto5 { grid-column: 3/7; grid-row: 3/3; }

.goto {
    @apply
        bg-secondary
        hover:bg-fifth
        focus:bg-fifth
        flex
        justify-center
        items-center
        rounded-md
        transition-all
        duration-100
        hover:cursor-pointer
}

.masonry-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto-fit);
    grid-auto-rows: repeat(1fr, auto);
    gap: 10px;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all ease-in-out .1s;
    @apply 
        bg-secondary
}

.box a {
    transition: all ease-in-out .1s;
}

.box-1 {
    grid-column: 1/3;
}
.box-2 {
    grid-row: 2/4;
}
.box-3 {
    grid-row: 2/3;
    /*background-color: var(--third);*/
}
.box-4 {
    grid-row: 1/3;
}
/*
.box-5 {
    /* background-color: var(--fifth); 
}
*/
.box-6 {
    /* I'm doing nothing */
    content: 'yeet';
}
.box-7 {
    grid-column: 2/5; 
    /* background-color: var(--fourth); */
}


i {
    font-size: 2.5rem;
}

.link-context-wrapper > p {
    font-size: 1.5rem;
    max-width: 256px;
}

.link-context-wrapper > i {
    margin-bottom: .4em;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.goto a, .box a {
    width: 100%;
}

.link-context-wrapper {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em; 
    line-height: 1.2;
}


.code-box { @apply bg-secondary hover:bg-secondary focus:bg-secondary }
.github-box { @apply bg-third hover:bg-socials-github focus:bg-socials-github hover:border-third}
.twitter-box { @apply bg-secondary hover:bg-socials-twitter focus:bg-socials-twitter }
.linkedin-box { @apply bg-secondary hover:bg-socials-linkedin focus:bg-socials-linkedin }
.spotify-box { @apply bg-secondary hover:bg-socials-spotify focus:bg-socials-spotify }
.paypal-box { @apply bg-secondary hover:bg-socials-paypal focus:bg-socials-paypal }
.discord-box { @apply bg-secondary hover:bg-socials-discord focus:bg-socials-discord }
